Source: subliminal
Section: net
Priority: extra
Maintainer: Oxan van Leeuwen <oxan@oxanvanleeuwen.nl>
Build-Depends: debhelper (>= 9), python-all (>= 2.6.6-3~), python-setuptools
               python-bs4, python-guessit (>= 0.6.2), python-requests, python-enzyme (>= 0.4.0),
               python-html5lib, python-dogpile.cache, python-babelfish, python-charade,
               python-pysrt
Standards-Version: 3.9.4
Homepage: http://subliminal.readthedocs.org/
Vcs-Git: http://git.lan/packages/subliminal.git
Vcs-Browser: http://git.lan/?p=packages/subliminal.git;a=summary
X-Python-Version: >= 2.6

Package: subliminal
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: search and download subtitles
 It uses video hashes and the powerful guessit library that extracts information 
 from filenames to ensure you have the best subtitles available. It also relies
 on enzyme to detect embedded subtitles and avoid duplicates.
 .
 Subliminal supports multiple services to download the subtitles:
  * Addic7ed
  * BierDopje
  * OpenSubtitles
  * SubsWiki
  * Subtitulos
  * TheSubDB
  * TvSubtitles
